@font-face {
    font-family: 'OpenSans';
    src: url("../resources/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: 'Lato';
    src: url("../resources/fonts/Lato-Regular.ttf");
}

html, body {
    overflow-x: hidden;
}

body {
    font-family: 'OpenSans', helvetica, arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
}

.container {
    margin: 0 auto;
    width: 90%;
}

.step {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.visible {
    position: static;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.6s linear;
}

/**/

.title {
    font-size: 36px;
    color: #333;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footer-content {
    border-top: 1px solid #d0d0d0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    margin: 0 15px 15px 15px;
    padding-top: 15px;
}

.hint {
    font-size: 14px;
    color: #939395;
}

button {
    color: #333;
    background-color: #e6e6e6;
    border: none;
    border-radius: 2px;
    height: 40px;
    width: 120px;
    padding: 0 15px;
    cursor: pointer;
    font-weight: 400;
}

button:hover {
    background-color: #d9d9d9;
}

button:disabled {
    background-color: #d9d9d9;
    cursor: not-allowed;
}

/* Instructions */

.instructions-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.instructions-container ol {
    margin-top: 50px;
}

.instructions-container li {
    font-family: 'Lato', sans-serif;
    line-height: 1.6;
}

/* Tasking */

.tasking-container {
    margin-top: 12%;
}

#task {
    font-size: 30px;
    font-style: italic;
    text-align: center;
    width: 90%;
}

#trn {
    text-align: center;
}

/* https://codepen.io/Oddgson/pen/VPrYbv */
.divider
{
	position: relative;
	margin: 70px 0;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, #d9d9d9, transparent);
}

.div-arrow-down:after
{
	content: "";
	position: absolute;
	z-index: 1;
	top: -7px;
	left: calc(50% - 7px);
	width: 14px;
	height: 14px;
	transform: rotate(45deg);
	background-color: white;
	border-bottom: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}

/* Images */
.gallery {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 25vw);
    grid-gap: 15px;
    padding-bottom: 10px;
}

.gallery-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 4px solid white;
}

.selected {
    border: 4px solid green;
    border-radius: 2px;
}